.css-8k19dn-MuiPaper-root {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.css-8k19dn-MuiPaper-root {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.toast-container{
    margin-top: 3%;
}

.yes-button {
    background-color: rgba(17,106,162,255) !important;
    color: white !important;
  }
  

  div:where(.swal2-container).swal2-center>.swal2-popup {
    grid-column: 2;
    grid-row: 2;
    place-self: center center;
    width: 21%;
    height: auto;
    border-radius: 1rem;
    border: 2px solid grey;
    font-size: .6rem;
    box-shadow: 30;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    border: 0px;
    background-color: rgba(17,106,162,255);
    color: #fff;
    font-size: 1em;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel {
    border-radius: .25em;
    background: initial;
    background-color: rgba(17,106,162,255);
    color: #fff;
    font-size: 1em;
}

.css-1k4akc8-MuiPaper-root {
    background-color: #fff;
    padding: 16px;
    top: 50%;
    left: 50%;
    width: 400px;
    background-color: #fff;
    border: 0px;
}

.css-8k19dn-MuiPaper-root {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 4px;
    padding: 16px;
    top: 50%;
    left: 50%;
    width: 400px;
    background-color: #fff;
}

.modal-forgot{
    border: 0cm;
}

