.total_container {
    background-image: url(https://img.freepik.com/free-photo/majestic-mountains-meet-breaking-waves-sunset-generated-by-ai_188544-30734.jpg?t=st=1714022222~exp=1714025822~hmac=11539022e3c88a47d07ccd5e71e9e40262fa2786c16ef954a0dff35db66cc6b5&w=1060);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100vh;
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    width: 420px;
    height: 420px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(11, 11, 11, 0.8); 
    animation: boxShadowAnimation 8s infinite linear alternate, borderAnimation 8s infinite linear alternate, borderShadowAnimation 8s infinite linear alternate; 
    border: 2px solid transparent;  
    opacity: 1.5;
    backdrop-filter: blur(10px);
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: royalblue;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    margin-top: 8%;
    width: 90%;
    padding: 7px 0;
    font-size: 17px;
    margin-bottom: 2px;
    border: none;
    background: transparent;
    color: rgb(1, 1, 16);
    caret-color: royalblue; 
    border-bottom: 2px solid rgba(233, 227, 227, 0.997); 
  }
  
  .login-box .user-box input:focus {
    outline: none; 
  }
  
  .login-box .user-box input::placeholder {
    color: whitesmoke; 
    font-weight: 400;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 0%;
    color: #d7d1d1;
    pointer-events: none;
    transition: .5s;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  
  @keyframes borderAnimation {
    0% {
      border-color: rgba(13, 184, 214, 0.7); 
    }
    25% {
      border-color: rgba(240, 246, 247, 0.7); 
    }
    50% {
      border-color: rgba(251, 252, 252, 0.7); 
    }
    75% {
      border-color: rgba(244, 244, 244, 0.581); 
    }
    100% {
      border-color: rgba(9, 195, 252, 0.7); 
    }
  }
  
  
  .link-hover span:hover {
    font-size: medium;
    text-decoration: underline;
    font-weight: bolder;
  }
  
  